#mapDiv{
    height: 500px;
    width: 60vw;
    top: 10px;
    align-content: center;
    align-items: center;
    overflow-y: scroll;
    margin-left: -17px;
    background-color: white;
}


#googleMap {
    height: 500px;
    width: 60vw;
    top: 10px;
    align-content: center;
    align-items: center;
    overflow-y: scroll;
    margin-left: -17px;
}

#headers{
    font-family: Arial;
    font-size: 18px;
    color: red;
    left: 30px;
}

#menu ul {
    list-style: none;
}

#menu li {
    display: inline;
}

