
.homeImageContainer{
    background-color: aqua;
    width: 100vw;
    height: 150px;
    top: 0px;
    position: absolute;
}

.homeImageContainer img{
    width: 100%;
    height: 15vh;
}

#leftBar{
    width: 20vw;
    height: 85vh;
    background-color: white;
    position: absolute;
    top:150px;
    float: left;
    overflow: hidden;
}

#leftBarChild{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin-left: 17px;
    background-color: transparent;
}

#rightBar{
    width: 20vw;
    height: 85vh;
    background-color: #23ff31;
    position: absolute;
    top:150px;
    float: right;
    left: 80vw;
    overflow: hidden;
}

#rightBarChild{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin-left: 17px;
}

#middleBar{
    width: 60vw;
    height: 85vh;
    left: 200px;
    top: 150px;
    position: absolute;
    background-color: #3e3eff;
    left: 20vw;
    overflow: hidden;
}

#middleBarChild{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin-left: 17px;
}

::-webkit-scrollbar{
    width: 0px;
    background-color: transparent;
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.leftMenuBarItem{
    align-items: center;
    align-content: center;
    width: 17vw;
}

#navBarDiv{
    width: 100vw;
    height: 100px;
    top: 100px;
    position: absolute;
}

.bgimg {

}

